body{
    background-color: #c8D0D0;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header{
    
    background-color: #9E1B32;
    margin: 10px;
    border-radius: 12px;
}
h1{
    color: #aec9d1;
}


#grid{
    margin: 60px;
}

table{
    border: 3px solid #242561;
}
thead{
    background-color: #242561;
    color: #c8D0D0;
}

td{
    border: 2px solid #242561;
}